html {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 1rem;
    background-color: #e6e1d8;
}

.Logo {
    background-color: rgb(153, 153, 153);
    color: white;
    flex: 0 0 auto;
    display: inline-block;
    padding: 1rem;
    margin: 0;
    font-size: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav a:hover {
    color: orange;
}

.hero {
    background-color: rgba(128, 128, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60vh;
    margin: 0;
    padding: 0;

}