html {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    background-color: rgb(243, 234, 224);
}


/*---------------*/
/* HOME SIVU */
.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #939393;
    max-width: 100%;
    margin: 0 auto;
    width: 80%;
    container: border-box;
}

.Logo {
    background-color: rgb(147, 147, 147);
    color: white;
    flex: 0 0 auto;
    display: inline-block;
    padding: 2rem;
    margin: 0;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin-right: 1rem;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 600;
    font-size: 1.2rem;
}

nav a:hover {
    color: #ce462b;
}

.hero {
    background:linear-gradient(to bottom,
    #2d4248 0%,
    #aabbc0 40%,
    #f3eae0 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 75vh;
    height: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.hero img {
    width: 50%;
    max-width: none;
    height: auto;
    border-radius: 3rem;
    display: block;
    margin: 0 auto;
}

.text {
    padding: 1rem;
    font-size: 1.2rem;
}

.hero h2 {
    color: #f1ebe7;
    font-size: 2rem;
    padding: 3rem 0 0 3rem;
}


/*---------------*/
/* PRODUCT SIVU */
.products {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 80%;
    max-width: 100%;
    margin: 2rem auto;
    box-sizing: border-box;
}

.product {
    background-color: #d0d0d0;
    padding: 1rem;
    flex: 1 1 30%;   /* grow, shrink, basis */
    box-sizing: border-box;
}

.product img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    aspect-ratio: 3/4;
    display: block;
    border-radius: 3rem;
}

.product p {
    font-size: 1.2rem;
}