html {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    background-color: rgb(224, 213, 205);
}

.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e1d8;
    max-width: 1200px;
    margin: 0 auto;
    width: 75%;
    container: border-box;
}

.Logo {
    background-color: rgb(153, 153, 153);
    color: white;
    flex: 0 0 auto;
    display: inline-block;
    padding: 1rem;
    margin: 0;
    font-size: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin-right: 1rem;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav a:hover {
    color: orange;
}

.hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(230, 225, 216, 0.2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 70vh;
    margin: 0 auto;
    padding: 0;
    text-align: center;

}