html {
    font-family: Roboto, sans-serif;
}

.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 1rem;
    background-color: #e6e1d8;
}

.Logo {
    background-color: rgb(153, 153, 153);
    color: white;
    flex: 1;
    padding: 1rem;
    margin: 0;
    font-size: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav a:hover {
    color: orange;
}

.hero {

}